body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: radial-gradient(ellipse at bottom, #0d1d31 0%, #0c0d13 100%);
    overflow: hidden;
}
.stars {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 120%;
    transform: rotate(-45deg);
}
.star {
    --star-color: var(--primary-color, white);
    --star-tail-length: 6em;
    --star-tail-height: 2px;
    --star-width: calc(var(--star-tail-length) / 6);
    --fall-duration: 9s;
    --tail-fade-duration: var(--fall-duration);
    position: absolute;
    top: var(--top-offset);
    left: 0;
    width: var(--star-tail-length);
    height: var(--star-tail-height);
    color: var(--star-color);
    background: linear-gradient(45deg, currentColor, transparent);
    border-radius: 50%;
    filter: drop-shadow(0 0 6px currentColor);
    transform: translate3d(104em, 0, 0);
    animation: fall var(--fall-duration) var(--fall-delay) linear infinite, tail-fade var(--tail-fade-duration) var(--fall-delay) ease-out infinite;
}
@media screen and (max-width: 750px) {
    .star {
        animation: fall var(--fall-duration) var(--fall-delay) linear infinite;
    }
}
.star:nth-child(1) {
    --star-tail-length: 3255278369.0100002289em;
    --top-offset: 32047864766.0299987793vh;
    --fall-duration: 1267107759.4340000153s;
    --fall-delay: 2496316416.6810002327s;
}
.star:nth-child(2) {
    --star-tail-length: 3887674357.4400000572em;
    --top-offset: 171379809567.3299865723vh;
    --fall-duration: 10734183624.4810009003s;
    --fall-delay: 16393267562.8400001526s;
}
.star:nth-child(3) {
    --star-tail-length: 3795541941.0199999809em;
    --top-offset: 91138551243.8300018311vh;
    --fall-duration: 9923542842.1979999542s;
    --fall-delay: 15598039087.9440002441s;
}
.star:nth-child(4) {
    --star-tail-length: 2781101219.5199999809em;
    --top-offset: 183503963961.5400085449vh;
    --fall-duration: 9241685158.1879997253s;
    --fall-delay: 10379246660.8840007782s;
}
.star:nth-child(5) {
    --star-tail-length: 3242277419.9000000954em;
    --top-offset: 144134429501.75vh;
    --fall-duration: 6688770937.3870000839s;
    --fall-delay: 5868869238.2410001755s;
}
.star:nth-child(6) {
    --star-tail-length: 1577510813.6199998856em;
    --top-offset: 90841143606.0399932861vh;
    --fall-duration: 11296115902.2539997101s;
    --fall-delay: 570637518.0460000038s;
}
.star:nth-child(7) {
    --star-tail-length: 3048638720.9800000191em;
    --top-offset: 97662293152.7899932861vh;
    --fall-duration: 12219030113.656999588s;
    --fall-delay: 3703808613.8270001411s;
}
.star:nth-child(8) {
    --star-tail-length: 1174724150.8800001144em;
    --top-offset: 116424234059.2799987793vh;
    --fall-duration: 11786811323.1959991455s;
    --fall-delay: 3127587587.486000061s;
}
.star:nth-child(9) {
    --star-tail-length: 4879400324.4099998474em;
    --top-offset: 210964068797.450012207vh;
    --fall-duration: 6817486968.484000206s;
    --fall-delay: 5797035265.5620002747s;
}
.star:nth-child(10) {
    --star-tail-length: 2265756001.3200001717em;
    --top-offset: 98846307342.3699951172vh;
    --fall-duration: 3486106128.867000103s;
    --fall-delay: 11702705403.5249996185s;
}
.star:nth-child(11) {
    --star-tail-length: 679979438.9099999666em;
    --top-offset: 194025481108.049987793vh;
    --fall-duration: 4853544475.279999733s;
    --fall-delay: 71365915.8780000061s;
}
.star:nth-child(12) {
    --star-tail-length: 1395212259.5599999428em;
    --top-offset: 142150237802.4200134277vh;
    --fall-duration: 4815814213.9510002136s;
    --fall-delay: 21386213837.5429992676s;
}
.star:nth-child(13) {
    --star-tail-length: 3574729813.9299998283em;
    --top-offset: 102276828760.2100067139vh;
    --fall-duration: 11564846287.1879997253s;
    --fall-delay: 6151997738.2600002289s;
}
.star:nth-child(14) {
    --star-tail-length: 2632927731.9000000954em;
    --top-offset: 1623551138.8800001144vh;
    --fall-duration: 11999779894.0429992676s;
    --fall-delay: 4770765698.8669996262s;
}
.star:nth-child(15) {
    --star-tail-length: 3571970965em;
    --top-offset: 19415625068.3699989319vh;
    --fall-duration: 4377755214.2840003967s;
    --fall-delay: 16464031198.4960002899s;
}
.star:nth-child(16) {
    --star-tail-length: 3485466794.3699998856em;
    --top-offset: 188981820192.3900146484vh;
    --fall-duration: 12571302855.9969997406s;
    --fall-delay: 11791632745.3700008392s;
}
.star:nth-child(17) {
    --star-tail-length: 3168169534.3600001335em;
    --top-offset: 177269973724.8500061035vh;
    --fall-duration: 9901865213.8619995117s;
    --fall-delay: 21091565935.6990013123s;
}
.star:nth-child(18) {
    --star-tail-length: 1418177542.2100000381em;
    --top-offset: 74261464003.8600006104vh;
    --fall-duration: 4743944005.579000473s;
    --fall-delay: 11257438321.2689990997s;
}
.star:nth-child(19) {
    --star-tail-length: 2998423407.4699997902em;
    --top-offset: 94891472598.4400024414vh;
    --fall-duration: 7484485336.3540000916s;
    --fall-delay: 4981979488.1339998245s;
}
.star:nth-child(20) {
    --star-tail-length: 4558799081.1199998856em;
    --top-offset: 127971803700.7799987793vh;
    --fall-duration: 7659158225.6510000229s;
    --fall-delay: 19728869839.7150001526s;
}
.star:nth-child(21) {
    --star-tail-length: 1831750789.3900001049em;
    --top-offset: 204420629218.9200134277vh;
    --fall-duration: 2350782801.8439998627s;
    --fall-delay: 831428004.4869999886s;
}
.star:nth-child(22) {
    --star-tail-length: 1868159094.9000000954em;
    --top-offset: 164107980957.1799926758vh;
    --fall-duration: 3655774904.2839999199s;
    --fall-delay: 6512857860.6639995575s;
}
.star:nth-child(23) {
    --star-tail-length: 4503597798.1899995804em;
    --top-offset: 66367064042.8000030518vh;
    --fall-duration: 307378163.1560000181s;
    --fall-delay: 4166258304.1719999313s;
}
.star:nth-child(24) {
    --star-tail-length: 797580167.7100000381em;
    --top-offset: 130929153406.1799926758vh;
    --fall-duration: 1777264027.3099999428s;
    --fall-delay: 5104156804.6440000534s;
}
.star:nth-child(25) {
    --star-tail-length: 3902409342.5599999428em;
    --top-offset: 158853838895.5100097656vh;
    --fall-duration: 3701524902.0130000114s;
    --fall-delay: 18644781161.6870002747s;
}
.star:nth-child(26) {
    --star-tail-length: 1757449121.8099999428em;
    --top-offset: 30076125411.8100013733vh;
    --fall-duration: 3341456434.6020002365s;
    --fall-delay: 6030134173.1219997406s;
}
.star:nth-child(27) {
    --star-tail-length: 1578730520.5099999905em;
    --top-offset: 174414640520.0799865723vh;
    --fall-duration: 2694197300.0560002327s;
    --fall-delay: 11301482355.232000351s;
}
.star:nth-child(28) {
    --star-tail-length: 2144143612.3099999428em;
    --top-offset: 111248458733.5vh;
    --fall-duration: 3502342524.4819998741s;
    --fall-delay: 14431606446.343000412s;
}
.star:nth-child(29) {
    --star-tail-length: 2210629089.6900000572em;
    --top-offset: 173650652828.950012207vh;
    --fall-duration: 2138258064.9570000172s;
    --fall-delay: 240960563.6470000148s;
}
.star:nth-child(30) {
    --star-tail-length: 1258817092.5199999809em;
    --top-offset: 120669229216.3500061035vh;
    --fall-duration: 7167560974.4289999008s;
    --fall-delay: 12765508963.2539997101s;
}
.star:nth-child(31) {
    --star-tail-length: 1575736115.6099998951em;
    --top-offset: 30791094001.5200004578vh;
    --fall-duration: 12547767198.0410003662s;
    --fall-delay: 20874249736.2519989014s;
}
.star:nth-child(32) {
    --star-tail-length: 1174878894.8900001049em;
    --top-offset: 100724185511.4100036621vh;
    --fall-duration: 11860774956.4139995575s;
    --fall-delay: 8467268932.2290000916s;
}
.star:nth-child(33) {
    --star-tail-length: 3161079931.4299998283em;
    --top-offset: 204929476098.5199890137vh;
    --fall-duration: 11505030623.5720005035s;
    --fall-delay: 20644504724.0480003357s;
}
.star:nth-child(34) {
    --star-tail-length: 3129331877.6599998474em;
    --top-offset: 138953975908.1900024414vh;
    --fall-duration: 996046658.1119999886s;
    --fall-delay: 6394211457.2100000381s;
}
.star:nth-child(35) {
    --star-tail-length: 4369786066.220000267em;
    --top-offset: 112401048180.9199981689vh;
    --fall-duration: 4183811745.7589998245s;
    --fall-delay: 3101080987.0910000801s;
}
.star:nth-child(36) {
    --star-tail-length: 1474905500.0099999905em;
    --top-offset: 163839753637.1300048828vh;
    --fall-duration: 463927936.4369999766s;
    --fall-delay: 20390674483.5620002747s;
}
.star:nth-child(37) {
    --star-tail-length: 2543254666.1900000572em;
    --top-offset: 135376808027.1699981689vh;
    --fall-duration: 6144851405.2379999161s;
    --fall-delay: 13304276074.577999115s;
}
.star:nth-child(38) {
    --star-tail-length: 531015190.8500000238em;
    --top-offset: 56332685005.2300033569vh;
    --fall-duration: 11588972101.4869995117s;
    --fall-delay: 14128083267.0599994659s;
}
.star:nth-child(39) {
    --star-tail-length: 2238591649.3099999428em;
    --top-offset: 160066260525.549987793vh;
    --fall-duration: 12797723220.436000824s;
    --fall-delay: 12609357599.6790008545s;
}
.star:nth-child(40) {
    --star-tail-length: 5173412547.8500003815em;
    --top-offset: 40326048101.5899963379vh;
    --fall-duration: 11241500477.2000007629s;
    --fall-delay: 19873872368.5180015564s;
}
.star:nth-child(41) {
    --star-tail-length: 3564319676.7800002098em;
    --top-offset: 46177987537.0199966431vh;
    --fall-duration: 7256276373.8649997711s;
    --fall-delay: 3284514738.6319999695s;
}
.star:nth-child(42) {
    --star-tail-length: 1885745994.7300000191em;
    --top-offset: 122316822559.2100067139vh;
    --fall-duration: 9492259451.611000061s;
    --fall-delay: 8403170373.013999939s;
}
.star:nth-child(43) {
    --star-tail-length: 1190988835.4200000763em;
    --top-offset: 121884544835.7599945068vh;
    --fall-duration: 12309195108.6520004272s;
    --fall-delay: 14893205431.6259994507s;
}
.star:nth-child(44) {
    --star-tail-length: 5239162883.8800001144em;
    --top-offset: 97072775506.9199981689vh;
    --fall-duration: 12535035710.4799995422s;
    --fall-delay: 9919783679.1800003052s;
}
.star:nth-child(45) {
    --star-tail-length: 4450673446.6999998093em;
    --top-offset: 47222496077.4300003052vh;
    --fall-duration: 12052979791.2150001526s;
    --fall-delay: 19626216835.4410018921s;
}
.star:nth-child(46) {
    --star-tail-length: 2051002050.3900001049em;
    --top-offset: 22908143185.2599983215vh;
    --fall-duration: 4090942874.1929998398s;
    --fall-delay: 13764288601.2310009003s;
}
.star:nth-child(47) {
    --star-tail-length: 3202152313.9200000763em;
    --top-offset: 40798855477.5999984741vh;
    --fall-duration: 11779350585.9470005035s;
    --fall-delay: 5811054637.359000206s;
}
.star:nth-child(48) {
    --star-tail-length: 806942061.0900000334em;
    --top-offset: 24258211978.6399993896vh;
    --fall-duration: 7172069645.7489995956s;
    --fall-delay: 8767153837.7210006714s;
}
.star:nth-child(49) {
    --star-tail-length: 207783387.2400000095em;
    --top-offset: 27422828608.6599998474vh;
    --fall-duration: 11624054985.6599998474s;
    --fall-delay: 18514067271.6049995422s;
}
.star:nth-child(50) {
    --star-tail-length: 4363138604.8100004196em;
    --top-offset: 99516596364.5700073242vh;
    --fall-duration: 2579003550.2969999313s;
    --fall-delay: 1122159884.7679998875s;
}
.star::before, .star::after {
    position: absolute;
    content: '';
    top: 0;
    left: calc(var(--star-width) / -2);
    width: var(--star-width);
    height: 100%;
    background: linear-gradient(45deg, transparent, currentColor, transparent);
    border-radius: inherit;
    animation: blink 2s linear infinite;
}
.star::before {
    transform: rotate(45deg);
}
.star::after {
    transform: rotate(-45deg);
}
@keyframes fall {
    to {
        transform: translate3d(-30em, 0, 0);
    }
}
@keyframes tail-fade {
    0%, 50% {
        width: var(--star-tail-length);
        opacity: 1;
    }
    70%, 80% {
        width: 0;
        opacity: 0.4;
    }
    100% {
        width: 0;
        opacity: 0;
    }
}
@keyframes blink {
    50% {
        opacity: 0.6;
    }
}
 