<!doctype html>
<html lang="en">
<head>
    <title>Editar Producto</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" th:href="@{/images/TitanicShip.ico}">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" th:href="@{css/style_home.css}">
</head>
<body>

<div class="wrapper d-flex align-items-stretch">
    <nav id="sidebar">
        <div class="p-4 pt-5">
            <a href="#" class="img logo rounded-circle mb-5" th:style="'background-image: url(images/logo.png)'"></a>
            <ul class="list-unstyled components mb-5">
                <li>
                    <a th:href="@{admin}">Inicio</a>
                </li>
                <li>
                    <a th:href="@{admin_users}">Usuarios</a>
                </li>
                <li class="active">
                    <a th:href="@{admin_products}">Productos</a>
                </li>
                <li>
                    <a th:href="@{admin_sales}">Ventas</a>
                </li>
                <li>
                    <a th:href="@{admin_log}">Registro de acciones</a>
                </li>
            </ul>

            <div class="footer">
                <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | Titanic Inventory</a>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
            </div>

        </div>
    </nav>

    <!-- Page Content  -->
    <div id="content" class="p-4">

        <div class="container-fluid">
            <button type="button" id="sidebarCollapse" class="btn btn-primary float-left">
                <i class="fa fa-bars"></i>
                <span class="sr-only">Toggle Menu</span>
            </button>
            <a th:href="@{logout}" type="button" id="CerrarSesion" class="btn float-right">
                Cerrar sesión
            </a>
        </div>

        <br/><br/><br/>

        <div class="container">
            <h3 th:text="${productToEdit.id_name}"></h3>
            <form th:action="@{edit_products(id=${productToEdit.id_name})}" class="edit_product-form" method="POST" modelAttribute="productToEdit">
                <div class="form-group mt-3">
                    <input name="new_price" type="number" min="0" max="1000000" class="form-control" required th:value="${productToEdit.precio}">
                    <label class="form-control-placeholder">Precio unitario</label>
                </div>
                <div class="form-group mt-3">
                    <input name="new_quantity" type="number" min="0" max="1000000" class="form-control" required th:value="${productToEdit.cantidad}">
                    <label class="form-control-placeholder">Cantidad</label>
                </div>
                <div class="form-group">
                    <button type="submit" class="form-control btn btn-info rounded submit px-3">Guardar cambios</button>
                </div>
                <div class="alert alert-danger" role="alert" th:text="${error}" th:if="${error}"></div>
            </form>
            <form th:action="@{delete_products(id=${productToEdit.id_name})}" role="form" class="register-form cf-style-1 text-center" style="margin-bottom: 25px;"
                  method="POST" modelAttribute="productToEdit">
                <button class="form-control btn btn-danger rounded submit px-3" th:data-confirm-delete="|Esta seguro de borrar producto ${productToEdit.id_name}?|"
                        onclick="if (!confirm(this.getAttribute('data-confirm-delete'))) return false" >Borrar producto</button>
            </form>
            <a th:href="@{admin_products}" class="form-control btn btn-info rounded submit px-3">Cancelar</a>
        </div>
    </div>
</div>

<script th:src="@{js/home_jquery.min.js}"></script>
<script th:src="@{js/home_main.js}"></script>
</body>
</html>