<!doctype html>
<html lang="en">
  <head>
  	<title>TI Administrador</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="icon" th:href="@{/images/TitanicShip.ico}">
	<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" th:href="@{css/style_home.css}">
	  <!--Load the AJAX API-->
	  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
	  <script type="text/javascript" th:inline="javascript">

		  // Load the Visualization API and the corechart package.
		  google.charts.load('current', {'packages':['corechart']});

		  // Set a callback to run when the Google Visualization API is loaded.
		  google.charts.setOnLoadCallback(drawPieChart1);
		  google.charts.setOnLoadCallback(drawPieChart2);
		  google.charts.setOnLoadCallback(drawColumn1);
		  google.charts.setOnLoadCallback(drawColumn2);
		  google.charts.setOnLoadCallback(drawColumn3);
		  google.charts.setOnLoadCallback(drawColumn4);

		  window.addEventListener("load", function() {
			  window.dispatchEvent(new Event('resize'));
		  });

		  window.onresize = function() {
			  drawPieChart1();
			  drawPieChart2();
			  drawColumn1();
			  drawColumn2();
			  drawColumn3();
			  drawColumn4();
		  }

		  function drawPieChart1() {

			  var data = new google.visualization.DataTable();
			  data.addColumn('string', 'Producto');
			  data.addColumn('number', 'Ventas');
			  data.addRows([[${productsSold}]]);

			  var options = {'title':'Productos vendidos',
				  width: '100%',
				  height: '100%',
				  backgroundColor: '#FAFAFA'};

			  var chart = new google.visualization.PieChart(document.getElementById('pieChart1'));
			  chart.draw(data, options);
		  }

		  function drawPieChart2() {

			  // Create the data table.
			  var data = new google.visualization.DataTable();
			  data.addColumn('string', 'Producto');
			  data.addColumn('number', 'Ingresos');
			  data.addRows([[${productsIncome}]]);

			  var options = {'title':'Ingresos por producto',
				  width: '100%',
				  height: '100%',
				  backgroundColor: '#FAFAFA'};

			  var chart = new google.visualization.PieChart(document.getElementById('pieChart2'));
			  chart.draw(data, options);
		  }

		  function drawColumn1() {
			  var data = new google.visualization.DataTable();
			  data.addColumn('string', 'Vendedor');
			  data.addColumn('number', 'Ventas');
			  Object.keys([[${sellerSale}]]).forEach(function(key) {
				  data.addRow([ key, [[${sellerSale}]][key] ]);
			  });
			  var options = {
				  title : 'Ventas por vendedor',
				  hAxis : {
					  title : 'Vendedor',
				  },
				  vAxis : {
					  title : 'Ventas'
				  }
			  };
			  var chart = new google.visualization.ColumnChart(document.getElementById('columnChart1'));
			  chart.draw(data, options);
		  }

		  function drawColumn2() {
			  var data = new google.visualization.DataTable();
			  data.addColumn('string', 'Vendedor');
			  data.addColumn('number', 'Ingresos');
			  Object.keys([[${sellerIngresos}]]).forEach(function(key) {
				  data.addRow([ key, [[${sellerIngresos}]][key] ]);
			  });
			  var options = {
				  title : 'Ingresos por vendedor',
				  hAxis : {
					  title : 'Vendedor',
				  },
				  vAxis : {
					  title : 'Ingresos'
				  }
			  };
			  var chart = new google.visualization.ColumnChart(document.getElementById('columnChart2'));
			  chart.draw(data, options);
		  }

		  function drawColumn3() {
			  var data = new google.visualization.DataTable();
			  data.addColumn('string', 'Día');
			  data.addColumn('number', 'Ingresos');
			  Object.keys([[${ingresosDia}]]).forEach(function(key) {
				  data.addRow([ key, [[${ingresosDia}]][key] ]);
			  });
			  var options = {
				  title : 'Ingresos por día',
				  hAxis : {
					  title : 'Día',
				  },
				  vAxis : {
					  title : 'Ingresos'
				  }
			  };
			  var chart = new google.visualization.ColumnChart(document.getElementById('columnChart3'));
			  chart.draw(data, options);
		  }

		  function drawColumn4() {
			  var data = new google.visualization.DataTable();
			  data.addColumn('string', 'Día');
			  data.addColumn('number', 'Ventas');
			  Object.keys([[${ventasDia}]]).forEach(function(key) {
				  data.addRow([ key, [[${ventasDia}]][key] ]);
			  });
			  var options = {
				  title : 'Ventas por día',
				  hAxis : {
					  title : 'Día',
				  },
				  vAxis : {
					  title : 'Ventas'
				  }
			  };
			  var chart = new google.visualization.ColumnChart(document.getElementById('columnChart4'));
			  chart.draw(data, options);
		  }

	  </script>
  </head>
  <body>
		
	<div class="wrapper d-flex align-items-stretch">
		<nav id="sidebar">
				<div class="p-4 pt-5">
		  		<a class="img logo rounded-circle mb-5" th:style="'background-image: url(images/logo.png)'"></a>
	        <ul class="list-unstyled components mb-5">
	          <li class="active">
	            <a th:href="@{admin}">Inicio</a>
	          </li>
	          <li>
	              <a th:href="@{admin_users}">Usuarios</a>
	          </li>
	          <li>
              <a th:href="@{admin_products}">Productos</a>
	          </li>
				<li>
					<a th:href="@{admin_sales}">Ventas</a>
				</li>
				<li>
					<a th:href="@{admin_log}">Registro de acciones</a>
				</li>
	        </ul>

	        <div class="footer">
	        	<p>
					  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | Titanic Inventory</a>
				</p>
	        </div>

	      </div>
    	</nav>

        <!-- Page Content  -->
      	<div id="content" class="p-4">

			<nav>
			  <div class="container-fluid">
				<button type="button" id="sidebarCollapse" class="btn btn-primary float-left">
					<i class="fa fa-bars"></i>
					<span class="sr-only">Toggle Menu</span>
				</button>
				<a th:href="@{logout}" type="button" id="CerrarSesion" class="btn float-right">
					Cerrar sesión
				</a>
			  </div>
			</nav>

			<br/><br/><br/>

			<nav>
				<div class="container-fluid mb-4">
					<h2 class="float-left">Página principal</h2>
					<form class="float-right">
						<label class="form-control-placeholder">Desde</label>
						<input name="from" type="date" id="from_date" min="1970-01-01" max="2022-01-02" class="" oninput="to_date.min=from_date.value" required>
						<label class="form-control-placeholder">Hasta</label>
						<input name="to" type="date" id="to_date" min="1970-01-01" max="2022-01-02" class="" oninput="from_date.max=to_date.value" required>
						<button class="btn btn-info">Filtrar</button>
					</form>
				</div>
			</nav>

			<br/><br/><br/>

			<div class="row justify-content-start mb-4 ml-0">
				<div class="col" style="border: 1px solid #8B8C89">
					Número de vendedores<br/><h3 th:text="${vendedores}"></h3>
				</div>
				<div class="col" style="border: 1px solid #8B8C89">
					Número de administradores<br/><h3 th:text="${administradores}"></h3>
				</div>
				<div class="col" style="border: 1px solid #8B8C89">
					Total de usuarios activos<br/><h3 th:text="${usuarios_activos}"></h3>
				</div>
				<div class="col" style="border: 1px solid #8B8C89">
					Número de ventas<br/><h3 th:text="${ventas}"></h3>
				</div>
				<div class="col" style="border: 1px solid #8B8C89">
					Número de ventas anuladas<br/><h3 th:text="${ventas_anuladas}"></h3>
				</div>
				<div class="col" style="border: 1px solid #8B8C89">
					Total de ingresos<br/><h3 th:text="${ingresos}"></h3>
				</div>
			</div>
			<div class="container">
				<div class="row justify-content-start">
					<div class="col" id="pieChart1" style="border: 1px solid #8B8C89"></div>
					<div class="col" id="pieChart2" style="border: 1px solid #8B8C89"></div>
				</div>
				<div class="row justify-content-start">
					<div class="col" id="columnChart1" style="border: 1px solid #8B8C89"></div>
				</div>
				<div class="row justify-content-start">
					<div class="col" id="columnChart2" style="border: 1px solid #8B8C89"></div>
				</div>
				<div class="row justify-content-start">
					<div class="col" id="columnChart3" style="border: 1px solid #8B8C89"></div>
				</div>
				<div class="row justify-content-start">
					<div class="col" id="columnChart4" style="border: 1px solid #8B8C89"></div>
				</div>
			</div>
		</div>
	</div>

    <script th:src="@{js/home_jquery.min.js}"></script>
    <script th:src="@{js/home_main.js}"></script>
	<script>
	//https://stackoverflow.com/a/32379018

	function update_today() {
	  var today = new Date();
	  var dd = today.getDate();
	  var mm = today.getMonth() + 1; //January is 0!
	  var yyyy = today.getFullYear();

	  if (dd < 10) {
		 dd = '0' + dd;
	  }

	  if (mm < 10) {
		 mm = '0' + mm;
	  }

	  today = yyyy + '-' + mm + '-' + dd;
	  return today;
	}
	document.getElementById("from_date").setAttribute("max", update_today());
	document.getElementById("to_date").setAttribute("max", update_today());
	</script>
  </body>
</html>