<!doctype html>
<html lang="en">
<head>
  <title>Registro de acciones</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="icon" th:href="@{/images/TitanicShip.ico}">
  <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" th:href="@{css/style_home.css}">
</head>
<body>

<div class="wrapper d-flex align-items-stretch">
  <nav id="sidebar">
    <div class="p-4 pt-5">
      <a href="#" class="img logo rounded-circle mb-5" th:style="'background-image: url(images/logo.png)'"></a>
      <ul class="list-unstyled components mb-5">
        <li>
          <a th:href="@{admin}">Inicio</a>
        </li>
        <li>
          <a th:href="@{admin_users}">Usuarios</a>
        </li>
        <li >
          <a th:href="@{admin_products}">Productos</a>
        </li>
        <li>
          <a th:href="@{admin_sales}">Ventas</a>
        </li>
        <li class="active">
          <a th:href="@{admin_log}">Registro de acciones</a>
        </li>
      </ul>

      <div class="footer">
        <p>
          Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | Titanic Inventory</a>
          </p>
      </div>

    </div>
  </nav>

  <!-- Page Content  -->
  <div id="content" class="p-4">

    <div class="container-fluid">
      <button type="button" id="sidebarCollapse" class="btn btn-primary float-left">
        <i class="fa fa-bars"></i>
        <span class="sr-only">Toggle Menu</span>
      </button>
      <a th:href="@{logout}" type="button" id="CerrarSesion" class="btn float-right">
        Cerrar sesión
      </a>
    </div>

    <br/><br/><br/>

    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-12 text-center mb-5">
          <h2 class="heading-section float-left">Registro de acciones</h2>

            <button class="btn btn-info float-right" onclick="filter()">Filtrar</button>
            <input name="to_date" type="date" id="to_date" min="1970-01-01" max="2022-01-02" class="float-right" oninput="from_date.max=to_date.value" required>
            <label class="form-control-placeholder float-right">Hasta</label>
            <input name="from_date" type="date" id="from_date" min="1970-01-01" max="2022-01-02" class="float-right" oninput="to_date.min=from_date.value" required>
            <label class="form-control-placeholder float-right">Desde</label>

        </div>
      </div>

      <div class="alert alert-danger" role="alert" th:text="${error}" th:if="${error}"></div>
      <div class="alert alert-success" role="alert" th:text="${success}" th:if="${success}"></div>

      <div class="row">
        <div class="col-md-12">
          <div class="table-wrap">
            <table class="table table-striped">
              <thead>
              <tr>
                <th>No</th>
                <th>Acción</th>
                <th>Usuario</th>
                <th>IP</th>
                <th>Fecha y hora</th>
              </tr>
              </thead>
              <tbody>
              <tr th:each="event, iterStat:${log}">
                <th scope="row" th:text="${iterStat.index}+1"></th>
                <td th:text="${event.action}"></td>
                <td th:text="${event.user}"></td>
                <td th:text="${event.ip}"></td>
                <td th:text="${event.timestamp}"></td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script th:src="@{js/home_jquery.min.js}"></script>
<script th:src="@{js/home_main.js}"></script>
<script>
//https://stackoverflow.com/a/32379018

function update_today() {
  var today = new Date();
  var dd = today.getDate();
  var mm = today.getMonth() + 1; //January is 0!
  var yyyy = today.getFullYear();

  if (dd < 10) {
     dd = '0' + dd;
  }

  if (mm < 10) {
     mm = '0' + mm;
  }

  today = yyyy + '-' + mm + '-' + dd;
  return today;
}
document.getElementById("from_date").setAttribute("max", update_today());
document.getElementById("to_date").setAttribute("max", update_today());
function filter() {
          var from = document.getElementById("from_date").value;
          var to = document.getElementById("to_date").value;
          var url = "admin_log?from=" + encodeURIComponent(from) + "&to=" + encodeURIComponent(to);
          if (from && to) {
            window.location.href = url;
          }
    };
</script>
</body>
</html>