<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{css/sidenav.css}">
</head>
<body>
<div class="wrapper">

    <div class="sidenav">
        <h1>Titanic Inventory</h1>

        <ul>
            <li><a th:href="@{home_admin}"> Inicio</a></li>
            <li><a th:href="@{home_admin_users}"> Usuarios</a></li>
            <br>
            <br>
            <br>
            <li><a th:href="@{logout}">Cerrar Sesión></a></li>
        </ul>
    </div>

    <div class="main-content">
        <section class="section1">
            <h3 th:text="${userToEdit.id}"></h3>
            <form th:action="@{edit(id=${userToEdit.id})}" role="form" class="register-form cf-style-1 text-center" style="margin-bottom: 25px;"
                  method="POST" modelAttribute="userToEdit">
                <label>Password:</label> <input type='password' name='new_password' />
                <br>
                <label>Name:</label> <input type='text' name='new_name' th:value="${userToEdit.name}" />
                <br>
                <label>Rol:</label> <input type='text' name='new_rol' th:value="${userToEdit.rol}" />
                <br>
                <button>Save</button>

            </form>
            <form th:action="@{delete(id=${userToEdit.id})}" role="form" class="register-form cf-style-1 text-center" style="margin-bottom: 25px;"
            method="POST" modelAttribute="userToEdit">
                <button th:data-confirm-delete="|¿Esta seguro de borrar usuario ${userToEdit.id}?|"
                        onclick="if (!confirm(this.getAttribute('data-confirm-delete'))) return false" >Delete</button>
            </form>
        </section>
    </div>

</div>
</body>
</html>