<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{css/sidenav.css}">
</head>
<body>
<div class="wrapper">

    <div class="sidenav">
        <h1>Titanic Inventory</h1>

        <ul>
            <li><a th:href="@{home_admin}"> Inicio</a></li>
            <li><a href="#"> Usuarios</a></li>
            <br>
            <br>
            <br>
            <li><a th:href="@{logout}">Cerrar Sesión></a></li>
        </ul>
    </div>

    <div class="main-content">
        <section class="section1">
            <a th:href="@{home_admin_new_user}"> Nuevo Usuario</a>
            <li th:each="user: ${users}">
                <td th:text="${user.id}" />
                <td th:text="${user.name}" />
                <td th:text="${user.rol}" />
            </li>
        </section>
    </div>

</div>
</body>
</html>