<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{css/sidenav.css}">
</head>
<body>
    <div class="wrapper">

        <div class="sidenav">
            <h1>Titanic Inventory</h1>

            <ul>
                <li><a href="#"> Inicio</a></li>
                <li><a th:href="@{home_admin_users}"> Usuarios</a></li>
                <br>
                <br>
                <br>
                <li><a th:href="@{logout}">Cerrar Sesión></a></li>
            </ul>
        </div>

        <div class="main-content">
            <section class="section1">
                <h3 th:text="${logged_user.name}"></h3>
                <ul>
                    <li>username: </li>
                    <li th:text="${logged_user.id}"></li>
                    <li>rol: </li>
                    <li th:text="${logged_user.rol}"></li>
                </ul>
            </section>
        </div>

    </div>
</body>
</html>