<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/sidenav.css">
</head>
<body>
    <div class="wrapper">

        <div class="sidenav">
            <h1>Titanic Inventory</h1>

            <ul>
                <li><a href="#"> Inicio</a></li>
                <li><a href="#"> Usuarios</a></li>
            </ul>
        </div>

        <div class="main-content">
            <section class="section1">
                <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A adipisci amet cum deleniti dicta, enim
                    esse excepturi exercitationem facilis inventore ipsum iusto numquam perspiciatis provident quia
                    suscipit ut! Neque, tempore.</h3>
            </section>
        </div>

    </div>
</body>
</html>