<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{css/sidenav.css}">
</head>
<body>
<div class="wrapper">

    <div class="sidenav">
        <h1>Titanic Inventory</h1>

        <ul>
            <li><a th:href="@{home_admin}"> Inicio</a></li>
            <li><a href="#"> Usuarios</a></li>
        </ul>
    </div>

    <div class="main-content">
        <section class="section1">
            <h3>USER LIST</h3>
        </section>
    </div>

</div>
</body>
</html>